@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --bg-gradient: linear-gradient(#1a1a1a, rgb(26, 26, 26));
      --txt: #f4f4f5;
}
@font-face {
      src: url("/fonts/astralaga.woff2");
      font-family: Astralga;
}
@font-face {
      src: url("/fonts/primary.woff2");
      font-family: Primary;
}
.font-astralga {
      font-family: Astralga;
}
.font-primary {
      font-family: Primary;
}
body::-webkit-scrollbar {
      display: none;
}
.text-format {
      @apply tracking-tight leading-none;
}

.bg-gradient::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(10px);
      mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 30%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0) 100%);
      -webkit-mask: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.1) 100%);
      pointer-events: none;
      z-index: 0;
}

.bg-gradient > * {
      position: relative;
      z-index: 1;
}
