@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --bg-gradient: linear-gradient(#300b07, #300b07);
      --txt: #ff7949;
      --bg-opac: linear-gradient(10deg, hsla(6, 74.5%, 10.8%, 1) 0%, hsla(6, 74.5%, 10.8%, 0.99) 5%, hsla(6, 74.5%, 10.8%, 0.98) 11%, hsla(6, 74.5%, 10.8%, 0.95) 16%, hsla(6, 74.5%, 10.8%, 0.91) 21%, hsla(6, 74.5%, 10.8%, 0.86) 26%, hsla(6, 74.5%, 10.8%, 0.8) 32%, hsla(6, 74.5%, 10.8%, 0.73) 37%, hsla(6, 74.5%, 10.8%, 0.65) 42%, hsla(6, 74.5%, 10.8%, 0.55) 47%, hsla(6, 74.5%, 10.8%, 0.45) 53%, hsla(6, 74.5%, 10.8%, 0.35) 58%, hsla(6, 74.5%, 10.8%, 0.27) 63%, hsla(6, 74.5%, 10.8%, 0.2) 68%, hsla(6, 74.5%, 10.8%, 0.14) 74%, hsla(6, 74.5%, 10.8%, 0.09) 79%, hsla(6, 74.5%, 10.8%, 0.05) 84%, hsla(6, 74.5%, 10.8%, 0.02) 89%, hsla(6, 74.5%, 10.8%, 0.01) 95%, hsla(6, 74.5%, 10.8%, 0) 100%);
}
@font-face {
      src: url("/fonts/astralaga.woff2");
      font-family: Astralga;
}
@font-face {
      src: url("/fonts/primary.woff2");
      font-family: Primary;
}
.font-astralga {
      font-family: Astralga;
}
.font-primary {
      font-family: Primary;
}
body::-webkit-scrollbar {
      display: none;
}
.text-format {
      @apply tracking-tight leading-none;
}

.bg-gradient::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(20px);
      mask: linear-gradient(0deg, hsla(6, 74.5%, 10.8%, 1) 0%, hsla(6, 74.5%, 10.8%, 1) 5%, hsla(6, 74.5%, 10.8%, 1) 11%, hsla(6, 74.5%, 10.8%, 1) 16%, hsla(6, 74.5%, 10.8%, 1) 21%, hsla(6, 74.5%, 10.8%, 0.9) 26%, hsla(6, 74.5%, 10.8%, 0.8) 32%, hsla(6, 74.5%, 10.8%, 0.6) 37%, hsla(6, 74.5%, 10.8%, 0.34) 42%, hsla(6, 74.5%, 10.8%, 0.28) 47%, hsla(6, 74.5%, 10.8%, 0.22) 53%, hsla(6, 74.5%, 10.8%, 0.18) 58%, hsla(6, 74.5%, 10.8%, 0.14) 63%, hsla(6, 74.5%, 10.8%, 0.1) 68%, hsla(6, 74.5%, 10.8%, 0.07) 74%, hsla(6, 74.5%, 10.8%, 0.04) 79%, hsla(6, 74.5%, 10.8%, 0.02) 84%, hsla(6, 74.5%, 10.8%, 0.01) 89%, hsla(6, 74.5%, 10.8%, 0) 95%, hsla(6, 74.5%, 10.8%, 0) 100%);
      -webkit-mask: linear-gradient(0deg, hsla(6, 74.5%, 10.8%, 1) 0%, hsla(6, 74.5%, 10.8%, 1) 5%, hsla(6, 74.5%, 10.8%, 1) 11%, hsla(6, 74.5%, 10.8%, 1) 16%, hsla(6, 74.5%, 10.8%, 1) 21%, hsla(6, 74.5%, 10.8%, 0.9) 26%, hsla(6, 74.5%, 10.8%, 0.8) 32%, hsla(6, 74.5%, 10.8%, 0.6) 37%, hsla(6, 74.5%, 10.8%, 0.34) 42%, hsla(6, 74.5%, 10.8%, 0.28) 47%, hsla(6, 74.5%, 10.8%, 0.22) 53%, hsla(6, 74.5%, 10.8%, 0.18) 58%, hsla(6, 74.5%, 10.8%, 0.14) 63%, hsla(6, 74.5%, 10.8%, 0.1) 68%, hsla(6, 74.5%, 10.8%, 0.07) 74%, hsla(6, 74.5%, 10.8%, 0.04) 79%, hsla(6, 74.5%, 10.8%, 0.02) 84%, hsla(6, 74.5%, 10.8%, 0.01) 89%, hsla(6, 74.5%, 10.8%, 0) 95%, hsla(6, 74.5%, 10.8%, 0) 100%);
      pointer-events: none;
      z-index: 0;
}

.bg-gradient > * {
      position: relative;
      z-index: 1;
}
